.App {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.player-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border: solid 1px black;
  /* font-family: 'Open Sans', sans-serif; */
}

.player-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stats {
  font-family: 'Open Sans', sans-serif;
}

.icon {
  border: solid 2px black;
  border-radius: 10px;
  padding: 5px;
  height: 30px;
  width: 30px;
  margin: 5px;
}

.icons {
  margin: 10px;
}

.player-name {
  width: 150px;
  text-align: center;
}

.imageAnchor:focus img{
    border: 2px solid #66AFE9;;
}

.Player-enter {
  opacity: 0.01;
  transform: translateY(200px);
}

.Player-enter.Player-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 500ms ease-in;
}

.Player-leave {
  opacity: 1;
}

.Player-leave.Player-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
