.App {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.remove-player {
  float: right;
  margin: 0;
}

.player-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player {
  margin: 10px;
  padding: 10px;
  width: 250px;
  border: solid 1px black;
  /* font-family: 'Open Sans', sans-serif; */
}

.player-header {
  width: 100%;
  text-align: center;
}

.stats {
  font-family: 'Open Sans', sans-serif;
}

.stats h1{
  font-size: 16px;
  text-align: left;
}

.icon {
  border: solid 2px black;
  border-radius: 10px;
  padding: 5px;
  height: 30px;
  width: 30px;
  margin: 5px;
}

.icons {
  margin: 10px;
}

.player-name {
  width: 150px;
  text-align: center;
}

.imageAnchor:focus img{
    border: 2px solid #66AFE9;;
}

/* .Player-enter {
  opacity: 0;
} */

.Player-enter.Player-enter-active {
  animation-name: appear;
  animation-duration: 200ms;
}

/* .Player-leave {
  opacity: 1;
} */

.Player-leave.Player-leave-active {
  animation-name: disappear;
  animation-duration: 200ms;
}

@keyframes appear {
  0% {opacity: 0;transform: translateY(-20px);}
  50% {opacity: .5;transform: translateY(20px);}
  75% {opacity: .75;transform: translateY(10px);}
  100% {opacity: 1;transform: translateY(0px);}
}

@keyframes disappear {
  0% {opacity: 1;transform: translateY(0px);}
  50% {opacity: 1;transform: translateY(10px);}
  75% {opacity: 1;transform: translateY(20px);}
  100% {opacity: 0;transform: translateY(-50px); }
}

.nav {
  background-color: Navy;
  height: 50px;
}

.title {
  color: white;
  margin: 0;
  padding: 15px;
  float: left;
}

.header {
  text-align: center;
}
